/* Colours used: 
Light blue above nav:             #CFE2FF 
Dark blue in nav and footer:      #3F528D
Light background color:           #F5F5F5

Try these colors for buttons: 
#17a2b8
#337ab7
They could look better than the current ones used.
*/

/* Generic CSS */
body {
  background-color: #F5F5F5;
   /*  
    background-image: url(/assets/images/sailing-bcn-view.JPG);
    background-image: url(../images/sebastian-coman-travel-S2dYlSp3dVM-unsplash.jpg);
    background-image: url(../images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg); 
    */
}

  h3 {
      text-decoration: underline;
  }

hr {
    border-top: 3px solid black;
}

/* Background colours to see sections better */



/* Alert top of page*/
.container-fluid .alert-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0; 
}

    /* 
    Is this unnecessary code for the top alert?
    .alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; } 
    */


.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
    border-color: #CFE2FF;
    background-color: #CFE2FF;
    text-align: center;

}
.site-wide-alert a {
    color: #3F528D;
    text-decoration: none;
}
.site-wide-alert:hover {
    background-color: #F5F5F5;
}

/* Navigation bar */

.navbar-row { 
      background-color: #3F528D;
     
      margin-bottom: 1%;
      
    }

.row.navbar-row.container-fluid {
    height: 10em;
}

.navbar {
    padding: 0;
    margin-bottom: 0;
    border:0;
     display: inline-block;
  
}
.navbar-col {
      display: inline-block;
      margin: 0 auto;
      clear: both;
} 

.navbar a img {
width: 35%;
clear: both;
margin-top: 1%;
height: 120px;
    
    
}

.navbar .navbar-toggler {
   border: 0;
    float: right;
    clear: both;
    text-align: right;

} 
.navbar-col-mid {
    margin-left: 10%;
}

.navbar-nav li {
    list-style-type: none;
    margin: 5px 5px;
    padding-left: 5px;
    background-color: #fff;
    border-color: #f5f5f5;
    display: inline-block;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar-nav li a {
    color: #3F528D;
    text-decoration: none;
}

.navbar-nav li:hover { 
background-color: #CFE2FF;}

/* Change of buttons. Consider if it looks nicer or not, and if so, with what colours.
.btn-info {
    background-color: #3F528D;
    border-color: #3F528D;
    color: #f5f5f5;
}
.btn-info:hover { 
     color: #3F528D;
background-color: #CFE2FF;
}

This could also be a nice combo. I don't like it that much either, but maybe better than the standard btn-info. 
.btn-info {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}
.btn-info:hover { 
     color: #fff ;
background-color: #17a2b8;
}


*/


/* Header carousel*/


.carousel {
      margin-bottom: 20px;
      clear: both;
    }

    .carousel .container {
      position: relative;
      z-index: 1;
    }

    .carousel-control {
      height: 80px;
      margin-top: 100px;
      font-size: 80px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 2;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
      margin-top: -15%;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 500px;
      padding: 0 20px;
      margin: 0 auto;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

/*Homepage */
    /*Sailing Adventures section */

.our-sailing-adventures-container {
border: 2px solid black;
padding: 3px 3px 5px 3px;
border-radius: 1%;
background-color: #CFE2FF;
    }
.container-card {
 display: inline-block;
 margin-left:  12%;
 
}


.card-img-top {
  width: 400px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 1%;
}

.our-sailing-adventures-card > .card-body {
margin-bottom: 5px;
}
/*index page */

div > .h4-index {
    width: 65%;
    margin: 10px auto;
}
 /* Our sailing adventurse */

    /*Why Sail with us section */
.section-margin {
    margin-top: 1%;
    margin-bottom: 2%;
}

    .why-container{
        background-image: url(/assets/images/sailing-bcn-view.JPG);
      
    }
    .why-container > h3 {
        text-align: center;
    }
.why-container-row {
    text-align: center;
   
}

  .why-container-row > .container-card {
      float:none; 
  display: inline-block; 
 clear: both;
 margin: 0 auto;
 width: 33%;
 height: 10em;
 
  }

  .why-container-row > .container-card > .why-card {
      padding: 5px 45px;
  }
    
    /*What others say about us section */
    
   .testimonial-container {
        background-image: url(../images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg);
        padding: 5px;
   }

  .testimonial-header h3 {
       text-align: center;
       margin-bottom: 5px;
       margin-top: 1px;
   }
    
.testimonial-container-row {
    text-align: center;
    
   
}

  .testimonial-container-row > .container-card {
      float:none; 
  display: inline-block; 
 clear: both;
 margin: 0 20px;
 width: 20%;
 border: 1px solid black;
 
  }



/* CTA bottom of page */
.cta-bottom a {
    margin-left: 25%;
    width: 50%;
}
/* Footer */

.footer {
    display: table;
    width: 100%;
    table-layout: fixed; 
    bottom: 0;
}

.images-row {
    display: table;
    content: "";
    clear: both;
    display: table;
    width: 100%;   
}

.images-row .images-col-footer {
    float: left;
    width: 33.33%;
    padding: 5px;
    display: table-cell;
}

.footer .col-footer {
    display: table-cell;
    background-color: #3F528D;
    width: 100%;
}

.footer .footer-logo {
    clear: both;
    float: left;
}

.footer-logo a img {
    width: 60%;
}

.footer-details h4 {
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer .footer-details,
.footer .footer-details ul {
    margin: 0 auto;
    color: #F5F5F5;
    padding: 15px;  
}

.footer-details ul li {
    list-style-type: none;
    display: inline;
}

.footer-details ul p {
    display: inline;   
}

.footer .footer-quick-links,
.footer .footer-quick-links ul {
    text-align: right;
    list-style-type: none;
    color: #F5F5F5;
    margin-right: 10px;      
}

.footer-quick-links h4 {
    margin-right: 10px;
}
footer li a { 
    color: #F5F5F5;
}

footer li a:hover {
    color: #CFE2FF;
}

.footer-details  .social-media-icon {
    margin: 0 auto;
    padding: 10px 25px;
    color: #F5F5F5;


}


 
.footer-details  .social-media-icon:hover {
    color: #CFE2FF;

}



/*Sailing Adventures (Sea&Island) CSS */

.sailing-adventure-intro {
    background-image: url(../images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg);
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2%;
}
.image-tour-intro-left {
    float: left;
}
.image-tour-intro {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 49%;
    margin: 10px auto;
}
.image-tour-intro > .card > .card-body-text > h4 {
text-decoration: underline;
margin: 25px auto;
}

.image-tour-intro > .card > .card-body-text > p {
margin: 40px 25px;
}
.sailing-adventure-whats-included-container {
     
    width: 80%;
   
}
.sailing-adventure-whats-included {
    width: 90%;
    margin: 0 auto;
}
.sailing-adventure-whats-included-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.whats-included-text {
    text-align: center;
}

.included-tourdetails {
    
    margin: 0 auto;
    width: 50%;
    float: left;
}


.included-tourdetails,
.excluded-tourdetails {
    text-decoration: none;
    margin: 10px 50px;
    
}

.included-tourdetails {
    border-right: 3px solid #3F528D;
    
}
.center-align {
    text-align: center;
}


.sailing-adventure-what-to-expect {
    width: 90%;
    margin: 2% auto;
;
}
.what-to-expect-paragraph {
    width: 70%;
    margin: 0 auto;
}
.sailing-adventure-cta {
   width: 90%;
   margin: 0 auto;
    background-image: url(../images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg)
   
}
.sailing-adventure-cta-body {

    margin: 0 auto;
    text-align: center;
    width: 49%;
    margin: 10px auto; 
float: left;}

.sailing-adventure-cta-image { 
   
    width: 75%;
    display: inline-block;
    margin: 0 auto;
    margin: 10px auto; }

.sailing-adventure-cta-button {
    
    margin-top: 25px;
}

/*Our Yachts */

.row-yachts {
    width: 90%;
    margin: 0 auto;
    background-image: url(../images/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg);
}

.container-card-our-yachts {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 49%;
    background-color: #CFE2FF;
    margin: 10px auto;
}

.container-card-our-yachts > .card > .card-body-image > .card-yacht-image { 
    width: 50%;
    margin: 10px auto;
}
.container-card-our-yachts {
    float: left;
}

.container-card-yacht-image,
.container-card-yacht-data {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 49%;
    
}
 
.container-card-yacht-image {
    
    float: left;
}

.container-card-yacht-data {
    
    float: right;
}
.card-yacht-image {
    width: 75%;
   

}

.ul-left {
    float: left;
}
.ul-right {
    float: right;
}





/*contact us css */
.getintouch-intro  {
    text-align: center;
   
    width: 75%;
    margin: 0 auto;
}
.getintouch-intro > h4 {
    padding: 5px;
}

.getintouch-intro > p {
    padding: 0px 15px 10px 15px;
    text-align: center;
}

.getintouch-container-row,
.getintouch-container-row > h4 {
    text-align: center;
    }


  .getintouch-container-row > .container-card {
    float:none;     
    display: inline-block;   
    clear: both;
    margin: 0 auto;
    width: 30%;
    height: 10em;
    background-color: #CFE2FF;
    border: 3px solid #3F528D;
    border-radius: 2%;
    margin: 10px;
    padding: 10px 35px;
  }

  .head-contact-form {
    text-align: center;
    padding: 0 5px;
  }

  .contact-form {
    border: 3px solid #3F528D;
    border-radius: 10%;
    margin: 2% auto;
    width: 50%;
    padding: 20px 0;
    background-color: #CFE2FF;
  }

.form-group {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}



    /*Frequently Asked Questions page*/

.head-faqsection {
    text-align: center;
    padding: 0 45px;
    margin: 3px 15px;
}

div#FAQaccordion {
    width: 60%;
    margin: 10px auto 25px;
    text-align: center; 
    background-color: #CFE2FF;
    padding: 25px 0;
    border: 3px solid #3F528D;
     border-radius: 10%;
}

.faq-button { 
    width: 90%;
    margin: 1px auto;
}
 .faq-answer {
     width: 85%;
     margin: 0 auto;
     padding: 4px 10px;
 }
 .faq-container {
     margin-bottom: 10px;
 }
 .faq-container > p {
     width: 45%;
     margin: 0 auto 10px;
 }

/** Media query **/
@media only screen and (max-width: 979px) {
   .fa-2x {
        font-size: 100%;
    }
}



 
  