/* Colours used: 
Light blue above nav:             #CFE2FF 
Dark blue in nav and footer:      #3F528D
Light background color:           #F5F5F5

*/

/* Gneric CSS */
body {
    background-color: #F5F5F5;
}


/* Background colours */

/* Navigation bar */
.navbar-row { 
      background-color: black;
      width: 100%; }


.navbar {
    padding: 0;
    margin-bottom: 0;
    border:0;
    width: 100%;
  
}
.navbar a img {
    width: 30%;
    float: left;
    
}

.navbar-col {
      display: inline-block;
      margin: 0 auto;
      clear: both;
} 

.navbar .navbar-toggler {
    border: 0;

    float: right;
} 

.navbar-nav li {
    list-style-type: none;
    margin: 5px 10px;
    padding-left: 5px;
    border: #fff solid 3px;
}
/* Alert top of page*/
.container-fluid .alert-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0; 
}

    /* 
    Is this unnecessary code for the top alert?
    .alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; } 
    */


.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
    border-color: #CFE2FF;
    background-color: #CFE2FF;
    text-align: center;

}
.site-wide-alert a {
    color: #3F528D;
    text-decoration: none;
}
.site-wide-alert:hover {
    background-color: #F5F5F5;
}



/* Header */


/* Footer */

.footer {
  display: table;
width: 100%;
    table-layout: fixed; 
 bottom: 0;
}

.images-row {
  display: table;
 content: "";
  clear: both;
  display: table;
  width: 100%;
   
}
.images-row .images-col-footer {

     float: left;
  width: 33.33%;
  padding: 5px;
  display: table-cell;
}

.footer .col-footer {
    display: table-cell;
    background-color: #3F528D;
    width: 100%;

}
.footer .footer-logo {
    clear: both;
    float: left;
   
}
.footer-logo a img{
    width: 60%;


}

.footer-details h4 {
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer .footer-details,
.footer .footer-details ul
 {
   margin: 0 auto;
   color: #F5F5F5;
   padding: 15px;
   
}
.footer-details ul li {
    list-style-type: none;
    display: inline;
}

.footer-details ul p {
    display: inline;
    
}
.footer .footer-quick-links,
.footer .footer-quick-links ul {
    text-align: right;
    list-style-type: none;
     color: #F5F5F5;
    margin-right: 10px;      
}

.footer-quick-links h4 {
    margin-right: 10px;
}
footer li a { 
      color: #F5F5F5;
}

footer li a:hover {
    color: #CFE2FF;
}

.footer-details  .social-media-icon {
margin: 0 auto;
padding: 10px 25px;
  color: #F5F5F5;


}


 
.footer-details  .social-media-icon:hover {
    
 color: #CFE2FF;

}

 

    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 1;
    }

    .carousel-control {
      height: 80px;
      margin-top: 100px;
      font-size: 80px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 2;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
      margin-top: -15%;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 500px;
      padding: 0 20px;
      margin: 0 auto;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }


/** Media query **/
@media only screen and (max-width: 979px) {
   .fa-2x {
        font-size: 100%;
    }
}